@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
  background-color: #2b2b2b; /* atom-one-dark background */
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}

code {
  font-family: 'Fira Code', 'Courier New', monospace;
}
